@media (max-width: 767px) {
    .center {
        padding-left: 16px; 
        padding-right: 16px;
    } 
     
    .header { 
        padding-top: 32px; 
        border-bottom: none; 
        padding bottom: 0px; 
        
        &__input {
            display: none;
        } 
         
        &__logo {
            width: 99px;
        }
    } 
     
    .menu {
        display: none; 
         
        &-mob {
            display: flex; 
            align-items: center; 
            gap: 32px; 
        }
    }   
     
    .top { 
         
        &__title { 
        min-width: 343px;
        font-size: 48px; 
        line-height: 59px; 
        text-align: center;  
        margin-top: 82px;
        } 

        &__text {
        font-size: 16px; 
        line-height: 32px; 
        text-align: center; 
        } 
         
        &__link {
        display: flex; 
        flex-direction: column; 
        align-items: center; 
        font-size: 14px; 
        }  
    }  
     
    .for-box{ 
     padding-top: 32px;    

       &__title {
        width: 178px; 
        font-size: 24px; 
        line-height: 29px;
        }
    }
     
    .for {
    grid-template-columns: repeat(4, 1fr); 
    gap: 16px;   
       &__item {
        grid-column: 1/-1; 
        height: 375px; 
        font-size: 28px; 
        line-height: 34px; 
        &_big {
        height: 244px;
        }
       }  
    }  
     
    .bascet { 
         
        &__name-box {
            display: none;     
        } 

        &__form {
            border-radius: 20px;
            background: rgb(247, 246, 246);
            height: 556px;
            grid-column: span 12;
        } 
         
        &__button-right {
            margin-left: 30px;
        } 
         
        &__form-subtotal {
            align-content: flex-start; 
            padding-left: 55px;
        } 
         
        &__img {
            display: none;
        } 
         
        &__title { 
            font-size: 18px; 
            line-height: 22px;
        } 
         
        &__text {
            font-size: 12px; 
            line-height: 15px;
        } 
         
        &__price {
            font-size: 12px; 
            line-height: 15px;
        } 
         
        &__button1-left {
            width: 166px;
            height: 37px; 
            margin-bottom: 16px; 
            font-size: 12px; 
            line-height: 15px;  
        } 
         
        &__button2-left {
            width: 163px;
            height: 37px; 
            margin-left: 10px; 
            margin-bottom: 16px; 
            font-size: 12px; 
            line-height: 15px;   
        } 

         &__form-title { 
            align-items: flex-start; 
            padding-left: 45px;
         }
    }
     
    .product { 
    width: 343px; 
     
    &-box {
        padding-top: 32px; 
       
        &__content {
        row-gap: 32px;      

    } 
}
     
    &-box__title {
        font-size: 24px; 
        line-height: 29px;
    } 

        &__name {
        font-size: 18px; 
        line-height: 22px; 
        margin-top: 9px;
        margin-bottom: 9.6px;
        } 
         
        &__text { 
        margin-bottom: 8px;
        }
         
        &__price {
        font-size: 18px; 
        line-height: 22px; 

         &_sale {
         font-size: 18px; 
         line-height: 22px;  
         }
        }
    }  

    .container {
    padding-top: 20px;
    }
     
    .filtering-form {
    flex-direction: row; 
    flex-wrap: wrap; 
       &__content-wrapper {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
       gap: 32px 65px; 
       max-height: 910px; 
       min-width: 190.5px;  
       }
    } 
     
    .menu-bottom { 
    padding-top: 36.39px;     
    padding-bottom: 32px;
    } 
     
    .bottom-box{
        padding-bottom: 32px;
    }
     
    .footer { 
    padding-bottom: 32px;
        &__content {
        justify-content: center; 
        gap: 34px;
        } 
         
        &__info {
        gap: 100px;
        }
    } 
     
    .catalog-menu { 
        display: block; 
        margin-top: 32px; 

        &__buttons { 
        gap: 10px;
        flex-wrap: nowrap;
        flex-direction: column-reverse;
        } 
         
        &__nav { 
        padding-bottom: 16px;
        } 
    } 
      
}  

 
@media (min-width: 425px) and (max-width: 767px) { 
    .center {
        padding-left: 16px; 
        padding-right: 16px;
    }  
     
    .top__title {
        max-width: 343px;
    } 
     
    .for {
        &__item_3 {
            background-size: cover;
        } 
         
        &__item_4 {
            background-size: cover;
        } 
         
        &__item_5 {
            background-size: cover;
        }
    }
     
    .bascet { 
        &__form {
            border-radius: 20px;
            background: rgb(247, 246, 246);
            height: 556px;
            grid-column: span 12;
        } 
         
        &__img {
            display: none;
        } 
         
        &__title { 
            font-size: 18px; 
            line-height: 22px;
        } 
         
        &__text {
            font-size: 12px; 
            line-height: 15px;
        } 
         
        &__price {
            font-size: 12px; 
            line-height: 15px;
        } 
         
        &__button1-left {
            width: 166px;
            height: 37px; 
            margin-bottom: 16px; 
             
            &__link {
                font-size: 12px; 
                line-height: 15px;
            } 
        } 
         
        &__button2-left {
            width: 163px;
            height: 37px; 
            margin-left: 10px; 
            margin-bottom: 16px; 
             
            &__link {
                font-size: 12px; 
                line-height: 15px;
            }  
        }
    }   

    .product { 
        width: 392px;
    }  
     
    .container {
        padding-top: 20px;
        }
         
        .filtering-form {
        flex-direction: row; 
        flex-wrap: wrap; 
           &__content-wrapper {
           display: flex;
           flex-direction: row;
           flex-wrap: wrap;
           gap: 32px 65px; 
           max-height: 910px; 
           min-width: 190.5px;  
           }
        } 
    }   
