@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  font-size: 16px;
}

.center {
  padding-left: calc(50% - 600px);
  padding-right: calc(50% - 600px);
}

a {
  text-decoration: none;
}

/*ШАПКА*/
.top {
  background-image: url(cat-topcatalog.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}
.top__title {
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 70px;
  color: #FFFFFF;
  margin-top: 128px;
  margin-bottom: 126px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0px 16px 0px;
  border-bottom: 1px solid #fff;
}
.header__logo:hover path {
  fill: lightblue;
}
.header__logo {
  transition: all 1s;
}
.header__logo path {
  transition: all 1s;
}
.header__logo:hover {
  transform: scale(1.5);
}
.header__input {
  width: 288px;
  height: 41px;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-right: 32px;
  transition: all 1s;
}
.header__input:hover {
  transform: scale(1.2);
  border: 1px solid rgb(172, 134, 134);
  background-color: rgb(63, 61, 61);
}
.header__input::-moz-placeholder {
  color: #FFFFFF;
}
.header__input:-ms-input-placeholder {
  color: #FFFFFF;
}
.header__input::placeholder {
  color: #FFFFFF;
}

.menu {
  display: flex;
  gap: 32px;
}
.menu__link {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  transition: all 1s;
}
.menu__link:hover {
  color: lightblue;
  transform: scale(1.3);
  text-decoration: underline;
}
.menu-mob {
  display: none;
}

/*МЕНЮ КАТАЛОГА*/
.catalog-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 61px;
  flex-wrap: wrap;
} 

.catalog-menu__link {
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  transition: all 1s;
} 

.catalog-menu__link:hover {
  color: darkred;
  text-decoration: underline;
  font-weight: 500;
} 

.catalog-menu__text {
  margin-left: 10px;
  margin-right: 10px;
} 

/*Контейнер Фильтрации*/
.catalog-menu__buttons {
  display: flex;
  gap: 5px;
} 

.catalog-menu__filter {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 40px;
  padding-left: 23px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  background-color: transparent;
  background-image: url(cat-custom-icon.png);
  background-repeat: no-repeat;
  background-position: center right 16px;
  cursor: pointer;
} 

.catalog-menu__filter:hover {
  color: black;
  border: 1px solid #000000;
  background-color: lightblue;
} 

.catalog-menu__filter_select {
  width: 227px;
}

/*Кнопка фильтрации*/
.details {
  width: 182px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 20px;
  cursor: pointer;
  z-index: 1;
}

.details:hover {
  color: black;
  border: 1px solid #000000;
  background-color: lightblue;
}

.summary {
  width: 105px;
  height: 20px;
  padding-top: 9px;
  padding-left: 23px;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  background-color: transparent;
  display: flex;
}

.summary::-webkit-details-marker {
  display: none;
}

.details .summary::after {
  content: url(cat-custom-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

.details[open] > .summary::after {
  content: url(cat-custom-icon.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 10px;
}

/*Контейнер*/
.container {
  display: flex;
  padding-top: 15px;
  padding-bottom: 40px;
  justify-content: flex-end;
}

/*Обертка для кнопки фильтрации*/
.filter-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

/*Форма фильтрации*/
.filtering-form {
  position: absolute;
  top: calc(100% + 14px);
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 36px;
  background-color: #fff;
  box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
  padding: 40px 48px;
}

/*Обертка контента формы фильтрации*/
.filtering-form__content-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 32px 65px;
  max-height: 468px;
  min-width: 445.5px;
}

/*Поле формы фильтрации*/
.filtering-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 14px;
  padding: 0;
  border: none;
  width: 190.5px;
}

/* Заголовок формы фильтрации*/
.filtering-form__legend {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 16px;
}

/*Стили для кнопки*/
.button {
  border: 1px solid #000;
  border-radius: 20px;
  min-height: 40px;
  font: inherit;
  padding: 10px 23px;
  cursor: pointer;
  background-color: #fff;
}

/*Кнопка формы фильтрации*/
.filtering-form__button {
  align-self: flex-end;
  max-width: 190px;
  width: 100%;
}

/*Радио-кнопка*/
.radio {
  display: flex;
  align-items: center;
  gap: 10px;
}
.radio__input {
  display: none;
}
.radio__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.radio__label::before {
  content: "";
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.radio__input:checked + .radio__label::before {
  border-color: #000;
  background-image: url(cat-vector.png);
  background-repeat: no-repeat;
  background-position: center;
}

/*Диапазон*/
.range {
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: 190.5px;
}
.range__input {
  width: 190px;
  height: 10px;
  overflow: hidden;
  outline: none;
}
.range__input, .range__input::-webkit-slider-runnable-track, .range__input::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
.range__input::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #000;
}
.range__input:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}
.range__input::-webkit-slider-thumb {
  position: relative;
  height: 8px;
  width: 8px;
  margin-top: -4px;
  background: #000;
  border: 1px solid #000;
  border-radius: 25px;
  cursor: pointer;
  z-index: 1;
}
.range__input::-webkit-slider-thumb:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}
.range__input:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}
.range__slider {
  font-family: sans-serif;
  font-size: 14px;
  position: relative;
  width: 210px;
  height: 20px;
  display: inline-block;
  margin-top: -5px;
}
.range__slider input {
  position: absolute;
}
.range__label {
  font-size: 14px;
}

/*Опции цвета*/
.color-options {
  display: flex;
  flex-wrap: wrap;
  max-width: 190px;
  gap: 14px;
}
.color-options__checkbox {
  width: 15px;
  height: 15px;
}

/*Чекбокс*/
.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
  /* Цвета чекбоксов*/
}
.checkbox__input {
  display: none;
}
.checkbox__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 30px;
  font-size: 14px;
}
.checkbox__label::before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 14px;
  border: 1px solid #888888;
  position: absolute;
  left: 0;
  background-color: #fff;
}
.checkbox__input:checked + .checkbox__label::before {
  background-image: url(cat-vector.png);
  background-repeat: no-repeat;
  background-position: center;
  border-color: #000;
}
.checkbox__label--white::before {
  background-color: #fff;
  border-color: #808080;
}
.checkbox__label--black::before {
  background-color: #000;
  border-color: #000;
}
.checkbox__label--grey::before {
  background-color: #737373;
  border-color: #737373;
}
.checkbox__label--red::before {
  background-color: #f00;
  border-color: #f00;
}
.checkbox__label--orange::before {
  background-color: #ff4500;
  border-color: #ff4500;
}
.checkbox__label--yellow::before {
  background-color: #ff0;
  border-color: #ff0;
}
.checkbox__label--green::before {
  background-color: #008000;
  border-color: #008000;
}
.checkbox__label--teal::before {
  background-color: #40e0d0;
  border-color: #40e0d0;
}
.checkbox__label--light-blue::before {
  background-color: #009fe3;
  border-color: #009fe3;
}
.checkbox__label--blue::before {
  background-color: #00f;
  border-color: #00f;
}
.checkbox__label--purple::before {
  background-color: #800080;
  border-color: #800080;
}
.checkbox__label--violet::before {
  background-color: #8a2be2;
  border-color: #8a2be2;
}
.checkbox__label--lavender::before {
  background-color: #d89aff;
  border-color: #d89aff;
}
.checkbox__label--pink::before {
  background-color: #ff1493;
  border-color: #ff1493;
}
.checkbox__input:checked + .checkbox__label--black::before, .checkbox__input:checked + .checkbox__label--blue::before, .checkbox__input:checked + .checkbox__label--purple::before {
  background-image: url(cat-vector-white.svg);
}

/*КАТАЛОГ ТОВАРОВ*/
.product {
  display: flex;
  flex-direction: column;
  width: 378px;
  /*ИКОНКИ В КАРТОЧКЕ ТОВАРОВ*/
  /*ПРОДОЛЖЕНИЕ*/
}
.product-box {
  padding-top: 32px;
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
}
.product-box__content {
  display: flex;
  gap: 32px 32px;
  flex-wrap: wrap;
}
.product_anime {
  position: relative;
}
.product__icon-right {
  display: none;
  margin-left: 11px;
}
.product__icon-right:hover path {
  fill: darkred;
}
.product__icon-right path {
  transition: all 1s;
}
.product__icon-right:hover {
  transform: scale(1.2);
}
.product__icon-left {
  display: none;
}
.product__icon-left:hover path {
  fill: darkred;
}
.product__icon-left path {
  transition: all 1s;
}
.product__icon-left:hover {
  transform: scale(1.2);
}
.product__icons {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  padding-left: 302px;
  padding-top: 10px;
  padding-right: 10px;
  transition: all 1s;
}
.product_anime:hover .product__icon-right {
  display: inline;
  cursor: pointer;
}
.product_anime:hover .product__icon-left {
  display: inline;
  cursor: pointer;
}
.product-content {
  margin-top: 32px;
  display: flex;
  -moz-column-gap: 32px;
       column-gap: 32px;
  row-gap: 56px;
  flex-wrap: wrap;
}
.product__box-price {
  display: flex;
  gap: 32px;
}
.product__price {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  text-align: left;
}
.product__price_sale {
  color: rgb(136, 136, 136);
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
}
.product__name {
  margin-top: 10px;
  margin-bottom: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}
.product__text {
  margin-bottom: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #888888;
}

/*ПОКАЗАТЬ ЕЩЕ*/
.menu-bottom {
  padding-top: 32px;
  padding-bottom: 64px;
}
.menu-bottom__link {
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  transition: all 1s;
}
.menu-bottom__link:hover {
  color: darkred;
  text-decoration: none;
  font-weight: 500;
}

/*ПОДВАЛ*/
.footer {
  background: rgb(247, 246, 246);
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.footer__logo {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  text-align: left;
  width: 198px;
  height: 44px;
  margin-bottom: 50px;
}
.footer__logo-svg:hover path {
  fill: darkred;
}
.footer__logo-svg {
  transition: all 1s;
}
.footer__logo-svg path {
  transition: all 1s;
}
.footer__logo-svg:hover {
  transform: scale(1.5);
}
.footer__content {
  width: 792px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 32px;
}
.footer__info {
  display: flex;
  gap: 129px;
}
.footer__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.footer__item-title {
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-size: 24px;
  line-height: 29px;
  text-align: left;
}
.footer__item-link {
  color: #888888;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  transition: all 1s;
}
.footer__item-link:hover {
  color: darkred;
  transform: scale(1.5);
}
.footer__icons {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__icons-svg:hover path {
  fill: black;
}
.footer__icons-svg {
  transition: all 1s;
  cursor: pointer;
}
.footer__icons-svg path {
  transition: all 1s;
}
.footer__icons-svg:hover {
  transform: scale(2);
}
.footer__form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 8px;
}
.footer__text {
  margin-bottom: 4px;
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  text-align: left;
  width: 272px;
  height: 15px;
}
.footer__input {
  width: 275px;
  height: 46px;
  border: 1px solid rgb(196, 196, 196);
  box-sizing: border-box;
  border-radius: 20px;
  background-color: transparent;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  flex: none;
  padding-left: 24px;
  padding-right: 24px;
  transition: all 1s;
}
.footer__input:hover {
  transform: scale(1.2);
  border: 1px solid rgb(20, 19, 19);
  background-color: rgb(238, 230, 230);
}
.footer__input::-moz-placeholder {
  color: rgb(196, 196, 196);
}
.footer__input:-ms-input-placeholder {
  color: rgb(196, 196, 196);
}
.footer__input::placeholder {
  color: rgb(196, 196, 196);
}
.footer__form-button {
  background: rgba(222, 215, 215, 0.41);
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 20px;
  width: 275px;
  height: 46px;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  box-shadow: 0 0 0 0 rgb(0, 0, 0);
  transform: scale(1);
  -webkit-animation: pulse 2s infinite;
          animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  100% {
    transform: scale(0.95);
    background-color: lightblue;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    cursor: pointer;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
    cursor: pointer;
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
    cursor: pointer;
  }
  100% {
    transform: scale(0.95);
    background-color: lightblue;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #000000;
    cursor: pointer;
  }
}
@media (max-width: 1024px) {
  .center {
    padding-left: calc(50% - 393px);
    padding-right: calc(50% - 393px);
  }
  .for__item {
    height: 268px;
  }
  .product-box__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .footer__logo {
    display: none;
  }
  .container {
    padding-top: 20px;
  }
  .filtering-form {
    position: unset;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #fff;
    box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
  }
  .filter-wrapper {
    display: grid;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 100px;
  }
  .bascet {
    gap: 64px 32px;
  }
  .bascet__content {
    grid-column: span 12;
  }
  .bascet__form {
    border-radius: 20px;
    background: rgb(247, 246, 246);
    height: 556px;
    grid-column: span 6;
  }
  .bascet__form-title {
    align-items: flex-start;
    padding-left: 40px;
  }
  .bascet__form-subtotal {
    align-content: flex-start;
    padding-left: 55px;
  }
  .bascet__button-right {
    margin-left: 30px;
  }
  .bascet__button2-left {
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  .bottom-box {
    padding-top: 39px;
  }
}
@media (min-width: 768px) and (max-width: 833px) {
  .center {
    padding-left: 24px;
    padding-right: 24px;
  }
  .product {
    width: 345px;
  }
  .product-box__content {
    -moz-column-gap: 29px;
         column-gap: 29px;
    row-gap: 38px;
  }
  .container {
    padding-top: 20px;
  }
  .filtering-form {
    position: unset;
    display: flex;
    flex-direction: column;
    gap: 36px;
    background-color: #fff;
    box-shadow: 0 4px 67px -12px rgba(0, 0, 0, 0.32);
    padding: 40px 48px;
  }
  .filter-wrapper {
    display: grid;
    justify-content: space-around;
    padding-top: 10px;
    padding-left: 100px;
  }
  .bascet__content {
    grid-column: span 12;
  }
  .bascet__form {
    border-radius: 20px;
    background: rgb(247, 246, 246);
    height: 556px;
    grid-column: span 6;
  }
  .bascet__button2-left {
    background-color: rgb(0, 0, 0);
    color: #fff;
  }
  .bottom-box {
    padding-top: 39px;
  }
}
@media (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .header {
    padding-top: 32px;
    border-bottom: none;
  }
  .header__input {
    display: none;
  }
  .header__logo {
    width: 99px;
  }
  .menu {
    display: none;
  }
  .menu-mob {
    display: flex;
    align-items: center;
    gap: 32px;
  }
  .top__title {
    min-width: 343px;
    font-size: 48px;
    line-height: 59px;
    text-align: center;
    margin-top: 29px;
  }
  .top__text {
    font-size: 16px;
    line-height: 32px;
    text-align: center;
  }
  .top__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
  }
  .for-box {
    padding-top: 32px;
  }
  .for-box__title {
    width: 178px;
    font-size: 24px;
    line-height: 29px;
  }
  .for {
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
  }
  .for__item {
    grid-column: 1/-1;
    height: 375px;
    font-size: 28px;
    line-height: 34px;
  }
  .for__item_big {
    height: 244px;
  }
  .bascet__name-box {
    display: none;
  }
  .bascet__form {
    border-radius: 20px;
    background: rgb(247, 246, 246);
    height: 556px;
    grid-column: span 12;
  }
  .bascet__button-right {
    margin-left: 30px;
  }
  .bascet__form-subtotal {
    align-content: flex-start;
    padding-left: 55px;
  }
  .bascet__img {
    display: none;
  }
  .bascet__title {
    font-size: 18px;
    line-height: 22px;
  }
  .bascet__text {
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__price {
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__button1-left {
    width: 166px;
    height: 37px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__button2-left {
    width: 163px;
    height: 37px;
    margin-left: 10px;
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__form-title {
    align-items: flex-start;
    padding-left: 45px;
  }
  .product {
    width: 343px;
  }
  .product-box {
    padding-top: 32px;
  }
  .product-box__content {
    row-gap: 32px;
  }
  .product-box__title {
    font-size: 24px;
    line-height: 29px;
  }
  .product__name {
    font-size: 18px;
    line-height: 22px;
    margin-top: 9px;
    margin-bottom: 9.6px;
  }
  .product__text {
    margin-bottom: 8px;
  }
  .product__price {
    font-size: 18px;
    line-height: 22px;
  }
  .product__price_sale {
    font-size: 18px;
    line-height: 22px;
  }
  .container {
    padding-top: 20px;
  }
  .filtering-form {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filtering-form__content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 65px;
    max-height: 910px;
    min-width: 190.5px;
  }
  .menu-bottom {
    padding-top: 36.39px;
    padding-bottom: 32px;
  }
  .bottom-box {
    padding-bottom: 32px;
  }
  .footer {
    padding-bottom: 32px;
  }
  .footer__content {
    justify-content: center;
    gap: 34px;
  }
  .footer__info {
    gap: 100px;
  }
  .catalog-menu {
    display: block;
    margin-top: 32px;
  }
  .catalog-menu__buttons {
    gap: 10px;
    flex-wrap: nowrap;
    flex-direction: column-reverse;
  }
  .catalog-menu__nav {
    padding-bottom: 16px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }
  .top__title {
    max-width: 343px;
  }
  .for__item_3 {
    background-size: cover;
  }
  .for__item_4 {
    background-size: cover;
  }
  .for__item_5 {
    background-size: cover;
  }
  .bascet__form {
    border-radius: 20px;
    background: rgb(247, 246, 246);
    height: 556px;
    grid-column: span 12;
  }
  .bascet__img {
    display: none;
  }
  .bascet__title {
    font-size: 18px;
    line-height: 22px;
  }
  .bascet__text {
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__price {
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__button1-left {
    width: 166px;
    height: 37px;
    margin-bottom: 16px;
  }
  .bascet__button1-left__link {
    font-size: 12px;
    line-height: 15px;
  }
  .bascet__button2-left {
    width: 163px;
    height: 37px;
    margin-left: 10px;
    margin-bottom: 16px;
  }
  .bascet__button2-left__link {
    font-size: 12px;
    line-height: 15px;
  }
  .product {
    width: 392px;
  }
  .container {
    padding-top: 20px;
  }
  .filtering-form {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .filtering-form__content-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 65px;
    max-height: 910px;
    min-width: 190.5px;
  }
}/*# sourceMappingURL=stylecatalog.css.map */
